<footer id="footer">
    <div class="footer-news">
        {{ include('Block/footer_news.twig')}}
    </div>
    <div class="footer-content">
        <ul>
            <li class="term-service"><a>利用規約</a></li>
            <li class="policy"><a>プライバシーポリシ</a></li>
            <li class="law"><a>特定商取引法に基づく表記</a></li>
        </ul>
        <div class="title">
            <span>©</span> 2020 WINCLE inc.
        </div>
    </div>
</footer>
