@import url("../../../../../node_modules/normalize.css/normalize.css");

body {
  font-family: Roboto, "游ゴシック", YuGothic, "Yu Gothic",
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ",
    Meiryo, sans-serif;
  color: #525263;
  transition: z-index 0ms 5.28455ms;
  background: #ffffff;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

pre {
  background-color: transparent;
  border: none;
  padding: 16px 0;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
// CUSTOMIZE
@import "project/customize/index";

@import "component/heading";
@import "component/typo";
@import "component/list";
@import "component/buttonsize";
@import "component/closebutton";
@import "component/otherbutton";
@import "component/inputText";
@import "component/inputMisc";
@import "component/form";
@import "component/icon";
@import "component/grid";
@import "component/layout";
@import "component/login";
@import "component/itembanner";
@import "component/search";
@import "component/cart";
@import "component/info";
@import "component/banner";
@import "component/mypage";

// PROJECTS
@import "project/news";
@import "project/searchnav";
@import "project/shelf";
@import "project/pager";
@import "project/cartModal";
@import "project/product";
@import "project/cart";
@import "project/order";
@import "project/history";
@import "project/historyDetail";
@import "project/address";
@import "project/password";
@import "project/register";
@import "project/contact";
@import "project/customer";
@import "project/404";
@import "project/withdraw";
@import "project/editComplete";
@import "project/footer";
@import "project/eyecatch";
@import "project/button";
@import "project/heading";
@import "project/topics";
// Customize
@import "project/customize/header";
@import "project/customize/slider";
@import "project/customize/category";
@import "project/customize/news";
@import "project/customize/product-rank";
