@import "../../mixins/media";
@import "../../mixins/clearfix";

.category-nav {
  height: 100%;
  color: #0a0a0a;
  @include reset_link;
  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    height: 32px;
    padding: 5px;
    font-size: 16px;
    font {
      text-align: center;
    }
  }
}
.category-title {
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    padding-bottom: 25px;
    border-bottom: 2px solid #c1c1c1;
  }
}

.item-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  ul {
    list-style: none;
    padding: 0;
  }
  & > span {
    padding: 10px 0;
    display: block;
  }
}

.item-nav__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: auto;
  text-align: left;
  vertical-align: bottom;
  .category-panel {
    position: absolute;
    left: calc(100% + 30px);
    top: 0;
    display: none;
    transition: all 0.3s ease;
    transform: translateY(-15%);
    overflow: hidden;
    z-index: 10;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  li.has-sub {
    &:hover {
      .category-panel {
        display: block;
      }
      &:before {
        display: block;
      }
    }
    &:before {
      position: absolute;
      display: none;
      content: "";
      left: calc(100% + 22px);
      top: 13px;
      width: 15px;
      height: 15px;
      transform: rotate(-45deg);
      box-shadow: rgba(0, 0, 0, 0.16) -2px -2px 2px;
      background-color: #f8f8f8;
      z-index: 20;
    }
  }
  .sub-item-nav {
    justify-content: center;
    & > ul {
      position: relative;
      @include flex(row, null, null, wrap);
      & > li {
        @include flex(row);
        background-color: #ffffff;
        border-bottom: 1px solid #c1c1c1;
        & > :first-child {
          font-weight: 600;
          background-color: #f8f8f8;
          min-width: 160px;
          padding: 20px 15px;
        }
        & > .sub-item {
          padding: 18px 15px;
          padding-bottom: 5px;
          & > ul {
            width: 465px;
            @include flex(row, flex-start, center, wrap);
            li {
              width: 50%;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
  @for $i from 5 through 12 {
    & > li:nth-child(#{$i}) {
      .category-panel {
        transform: translateY(calc(-30% - #{$i} * 5%));
      }
    }
  }
  & > li {
    padding: 10px 0;
    display: inline-block;
    margin-top: -1px;
    text-align: left;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
  }
  ul.active {
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
  }
  a:hover {
    color: black;
    transition: 0.2s all ease;
  }
}
