@import "../../mixins/media";
@import "../../mixins/projects";
@import "../../mixins/clearfix";
@import "../../mixins/animation";

.layoutRole {
  width: 100%;
  transition: transform 0.3s;
  background: #fff;
  & &__contentTop {
    padding: 0;
  }

  & &__contents {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-wrap: nowrap;
  }
  & &__main {
    width: 100%;
  }
  & &__mainWithColumn {
    width: 100%;
    @include media_desktop() {
      width: 75%;
    }
  }
  & &__mainBetweenColumn {
    width: 100%;
    @include media_desktop() {
      width: 50%;
    }
  }
  & &__left,
  & &__right {
    display: none;
    @include media_desktop() {
      display: block;
      width: 25%;
    }
  }
}

.header {
  @include container;
  @include flex(row, flex-start, center);
  background-color: #F0F0F0;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 110px;
  @include media_desktop {
    @include clearfix;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  &__logo{
    height: 100%;
    width: fit-content;
    h1 {
      margin: 0;
      padding: 0;
      line-height: unset;
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      color: #090909;
      @include media_desktop() {
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__search {
    display: inline-block;
    margin-left: 40px;
    max-width: 530px;
    height: 100%;
    @include flex(row,null,center);
    @include reset_link;
}

.headerNav {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  text-align: right;
  .fa-bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__left {
    width: calc(100% / 3);
  }
  &__right {
    width: calc(100% * 2 / 3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__nav {
    display: inline-block;
    @include reset_link;
  }
  .cart {
    display: inline-block;
    @include reset_link;
    @include media_desktop() {
      position: relative;
    }
  }
  &__item {
    margin-left: 0;
    display: inline-block;
    font-size: 28px;
  }
  &__itemIcon {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: black;
    @include media_desktop {
      margin-right: 0;
      font-size: 20px;
    }
  }
  &__itemLink {
    display: none;
    margin-right: 5px;
    font-size: 14px;
    vertical-align: middle;
    color: black;
    @include media_desktop {
      display: inline-block;
    }
  }
  
  &__navSP {
    display: block;
    position: absolute;
    top: 15px;
    width: 27%;
    right: 0;
    text-align: right;
    @include media_desktop {
      display: none;
    }
  }
}

.header__center {
  @include commonStyle();
  margin: auto !important;
  width: 70%;
  &__title {
    text-align: center;
    h1 {
      margin: 0;
      padding: 0;
    }
    a {
      display: inline-block;
      margin-bottom: 30px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      color: black;
      @include media_desktop() {
        font-size: 40px;
      }
      font-weight: bold;
      color: black;

      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__subtitle {
    font-size: 10px;
    text-align: center;
    @include media_desktop() {
      font-size: 16px;
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
      color: #0092c4;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.header__search {
  @include clearfix;
  width: 100%;
  &__keyword {
    position: relative;
    color: $clrDarkGray;
    background-color: #F8F8F8;
    border-radius: 50px;
    max-width: 530px;
    .input {
      height: 100%;
    }
    input[type="search"] {
      width: 100%;
      height: 40px;
      font-size: 16px;
      border: 0 none;
      padding: 0.5em 50px 0.5em 1em;
      box-shadow: none;
      background: none;
      box-sizing: border-box;
      outline: 0;
      margin-bottom: 0;
      @include media_desktop {
        font-size: 12px;
      }
    }
    .icon {
      width: 22px;
      height: 22px;
    }
  }
  &__keywordBtn {
    border: 0;
    background: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-55%);
    display: block;
    white-space: nowrap;
    z-index: 1;
  }
}
/*
ヘッダー：カテゴリナビ

ヘッダー内で使用されている商品のカテゴリ一覧として使用します。
`li`の中に`ul > li`要素を入れることで、階層を深くする事ができます。

Markup:
include /assets/tmpl/elements/11.4.categoryNavi.pug
+itemNav

sg-wrapper:
<div class="categoryNaviRole" style="padding-bottom:150px;">
  <sg-wrapper-content/>
</div>

Styleguide 11.2.5
*/
.category-navi {
  height: 100%;
  border: 1px solid rgba(0,0,0,.25);
  @include reset_link;
  a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    height: 32px;
    padding: 5px;
    font-size: 16px;
    font{
      text-align:center;
    }
  }
  & > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
  }
}

.item-nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
}

.item-nav__nav {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: auto;
  text-align: center;
  vertical-align: bottom;
  .has-sub {
    &:after {
      content: '';
      position: absolute;
      right: 10px;
      width: 6px;
      height: 6px;
      top: 15px;
      transform: translateY(-75%) rotate(45deg);
      border-right: 1px solid;
      border-bottom: 1px solid;
    }
  }
  li {
    float: none;
    display: inline-block;
    border-bottom: 1px solid rgba(0,0,0,.25);
    margin-top: -1px;
    width: 100%;
    text-align: left;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    @include media_desktop {
      float: left;
    }
    ul {
      width: 100%;
      height: 0;
      transition: all 0.5s ease;
      overflow: hidden;
      z-index: 1;
      justify-content: center;
      & > :last-child {
        border-bottom: none;
      }
    }
  }
  li:hover{
  }
  ul.active {
    height: auto;
    border-top: 1px solid rgba(0,0,0,.25);
  }
  a:hover{
    color: black;
    transition: 0.2s all ease;
  }
}

/*
ヘッダー：SPヘッダー

SP時のみ出現するヘッダーに関係するコンポーネントです。<br>
ex [トップページ](http://demo3.cube.net/)画面サイズが768px以下に該当。<br>
<br>
`.drawerRole`：SPのドロワー内の要素をwrapするコンポーネントです。<br>
`.headerSearch`、`.headerNav`、`.itemNav`は`.drawerRole`の子要素にある場合、ドロワーに適したスタイルに変化します。<br><br>
`.overlayRole`：SPのドロワー出現時にz-indexがドロワー以下の要素に半透明の黒背景をかぶせるコンポーネントです。<br>

Styleguide 11.2.6
*/

.drawerRole {
  overflow-y: scroll;
  background: black;
  width: 260px;
  height: 100vh;
  transform: translateX(-300px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: z-index 0ms 1ms;
  @include media_desktop() {
    display: none;
  }

  .headerSearchArea {
    padding: 20px 10px;
    width: 100%;
    background: #f8f8f8;
  }

  .headerSearch {
    padding: 16px 8px 26px;
    background: #ebebeb;
    color: #636378;
    select {
      width: 100% !important;
    }
  }

  .headerCategoryArea {
    .headerCategoryArea__heading {
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      padding: 1em 10px;
      font-size: 16px;
      font-weight: bold;
      color: black;
      background: #f8f8f8;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
    }

    .itemNav__nav li a {
      border-bottom: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      color: black;
      font-weight: normal;
      background: #f8f8f8;
    }

    .itemNav__nav li ul li a {
      border-bottom: 1px solid #ccc;
      padding-left: 20px;
      font-weight: normal;
      background: white;
    }

    .itemNav__nav > li:hover > a {
      background: #f8f8f8;
    }

    .itemNav__nav > li:hover li:hover > a {
      background: white;
    }

    .itemNav__nav li ul li ul li a {
      padding-left: 40px;
      color: black;
      background: white;
    }

    .itemNav__nav li:hover ul li ul li a:hover {
      background: white;
    }

    .itemNav__nav li ul li ul li ul li a {
      padding-left: 60px;
      font-weight: normal;
    }
  }
  .headerLinkArea {
    background: black;

    .headerLink__list {
      border-top: 1px solid #ccc;
    }

    .headerLink__item {
      display: block;
      border-bottom: 1px solid #ccc;
      padding: 15px 20px;
      font-size: 16px;
      font-weight: bold;
      color: white;
    }
    .headerLink__icon {
      display: inline-block;
      width: 28px;
      font-size: 17px;
    }
  }
}

.drawerRoleClose {
  display: none;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  color: black;
  background: white;
  position: fixed;
  top: 10px;
  left: 270px;
  z-index: 1000;

  .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include media_desktop {
    display: none;
  }
}

.drawerRole.is_active {
  display: block;
  transform: translateX(0);
  transition: all 0.3s;
  z-index: 100000;

  @include media_desktop() {
    display: none;
  }
}
.drawerRoleClose.is_active {
  display: inline-block;
  transition: all 0.3s;

  @include media_desktop {
    display: none;
  }
}

.overlayRole {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  background: transparent;
  transform: translateX(0);
  transition: all 0.3s;
  visibility: hidden;

  @include media_desktop {
    display: none;
  }
}

.have_curtain .overlayRole {
  display: block;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;

  @include media_desktop {
    display: none;
  }
}

.headerNav__navSP {
  display: block;
  cursor: pointer;
  //display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  color: black;
  background: white;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;

  .fas {
    vertical-align: top;
  }

  @include media_desktop {
    display: none;
  }
}
.headerNavSP.is-active {
  display: none;
}
/*
ヘッダー：test

test

Markup:
span.itemAccordionParent test1
ul.itemNavAccordion
  li.itemNavAccordion__item
    a(href='') test2
    ul.itemNavAccordion
      li.itemNavAccordion__item
        a(href='') test3
        ul.itemNavAccordion
          li.itemNavAccordion__item
            a(href='') test4

Styleguide 11.2.7
*/

.itemNavAccordion {
  display: none;
}
