@import "../../mixins/media";
@import "../../mixins/variables";

.wrapper-slider {
  @include container;
  margin-bottom: 40px;
  @include media_desktop {
    margin-bottom: 70px;
  }
}
.slider {
  height: 400px;
  width: 100%;
  ul {
    padding: 0;
    list-style: none;
  }
  div {
    height: 100%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slick-dots {
    bottom: 10px;
  }

  .slick-dots li {
    width: 15px;
    height: 15px;
  }

  .slick-dots li button {
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
  }

  .slick-dots li button:hover,
  .slick-dots li button:focus {
    outline: none;
  }

  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before {
    opacity: 1;
  }

  .slick-dots li button:before {
    font-size: 10px;
    opacity: 0.75;
    color: #fff;
  }

  .slick-dots li.slick-active button:before {
    opacity: 0.8;
    color: $clrRed;
  }
  .slick-next {
    left: calc(100% - 40px);
  }
  .slick-prev {
    left: 20px;
    z-index: 1;
  }
  .slick- .slider-button {
    position: absolute;
    @include flex(row, space-between, center);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100;
    .button {
      color: #fff;
      font-size: 25px;
      padding: 0 5px;
      margin: 0 15px;
      cursor: pointer;
      position: relative;
      opacity: 0.75;
      transition: all 300ms ease-in-out;
      &:hover {
        i {
          color: $clrRed;
        }
      }
    }
  }
  .reset {
    transition: none;
    animation: none;
  }
}
