@import "../mixins/btn";
@import "../mixins/media";
@import "../mixins/variables";

.btn {
  padding: 5px 20px;
  background-color: #dedede;
  transition: all 0.2s ease;
  color: #0a0a0a;
  border-radius: 30px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &:hover {
    color: #fff;
    background-color: $clrRed;
  }
}
.btn-secondary {
  outline: 0;
  background-color: $clrRed;
  transition: all 0.2s ease;
  color: #fff;
  &:focus {
    outline: 0;
  }
  &:hover {
    color: #fff;
    background-color: $clrRed;
  }
}
