@import "../mixins/media";
@import "../mixins/projects";

.footer {
  padding: 0;
  margin: 0 auto;
  @include flex(row, center, center);
  background-color: #222222;
  color: #fff;
  height: 105px;
  text-align: center;
  a {
    cursor: pointer;
    opacity: 0.75;
    color: inherit;
    &:hover {
      opacity: 1;
      font-weight: 500;
    }
  }
  ul {
    @include flex(row, center, center, wrap);
    margin-bottom: 15px;
    li {
      display: inline-block;
    }
    li:not(:last-child) {
      padding-right: 25px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        display: block;
        right: 10px;
        top: 5px;
        height: calc(100% - 8px);
        width: 2px;
        background-color: #fff;
        z-index: 2;
        opacity: 0.5;
      }
    }
  }
  .title {
    font-size: 14px;
    span {
      font-size: 18px;
    }
  }
}
