@import "../mixins/media";

/*
標準セクション

通常のコンテナブロックです。

ex [商品詳細ページ　コンテナ](http://demo3.ec-cube.net/products/detail/33)

Markup:
include /assets/tmpl/elements/11.1.role.pug
+ec-roleRole

Styleguide 11.1
*/
.ec-role{
  @include container;
}

*/
.ec-mypageRole{
  @include mypageContainer;

  .ec-pageHeader h1{
    @include media_desktop {
      margin: 10px 0 48px;
      padding: 8px 0 18px;
    }
  }
}
.main{
  width: 100%;
  transition: transform 0.3s;
  background: #fff;
}
.layout__left{
  width: 20%;
  height: inherit;
}
.layout__main{
  width: 100%;
}
.layout__contents{
  margin: 0 auto;
  width: 100%;
  max-width: 1150px;
  display: flex;
  flex-wrap: nowrap;
}
.layout__main-bottom{
  clear: both;
  width: 100%;
  margin-top: 20px;
}
.layout__main-top:not(:empty){
  float: left;
  width: 20%;
  height: 463px;
}