<div class="card-product">
    <div class="card">
        <img src="{{ asset('assets/img/top/img_item02_02.jpg') }}"">
    </div>
    <div class="card-product__title">
        商品名商品名商品名商品名商品名商品名商品名商商品名商品名商品名商品名商品名商品名商品名商
    </div>
    <div class="card-product__note">第第戸市</div>
    <div class="card-product__rating">
        {% for i in 0..4 %}
        <span>☆</span>
        {% endfor %}
    </div>
    <div class="card-product__price">¥ 1,100</div>
</div>