<div class="footer-news">
    <div class="footer-news__list">
        <div class="footer-news__item shop-guide">
            <h4>ショッブガイド</h4>
            <ul>
                <li><a><a>総合案内</a></a><li>
                <li><a>初めての方へ</a><li>
                <li><a>安心・安全への取り組み</a><li>
                <li><a>を送ガイト</a><li>
                <li><a>ショッヒンクサービスご利用規約</a><li>
            </ul>
        </div>
        <div class="footer-news__item info">
            <h4>出店のご案内</h4>
            <ul>
                <li><a>出店のご案内</a><li>
                <li><a>出店のお申し込み</a><li>
                <li><a>料のご請求</a><li>
                <li><a>出店プラン・出店費用</a><li>
                <li><a>出店までの流れ</a><li>
            </ul>
        </div>
        <div class="footer-news__item contact-us">
            <h4>お問い合わせ</h4>
            <ul>
                <li><a>よくある質問</a><li>
                <li><a>各ショップへのお問い合わせ</a><li>
                <li><a>運営会社へのお問い合わせ</a><li>
            </ul>
        </div>
    </div>
</div>