<div class="news">
    <div class="news__list">
        <div class="news__item shop-guide">
            <h4>ショッブガイド</h4>
            <ul>
                <li>総合案内</li>
                <li>初めての方へ</li>
                <li>安心・安全への取り組み</li>
                <li>を送ガイト</li>
                <li>ショッヒンクサービスご利用規約</li>
            </ul>
        </div>
        <div class="news__item info">
            <h4>出店のご案内</h4>
            <ul>
                <li>出店のご案内</li>
                <li>出店のお申し込み</li>
                <li>料のご請求</li>
                <li>出店プラン・出店費用</li>
                <li>出店までの流れ</li>
            </ul>
        </div>
        <div class="news__item contact-us">
            <h4>お問い合わせ</h4>
            <ul>
                <li>よくある質問</li>
                <li>各ショップへのお問い合わせ</li>
                <li>運営会社へのお問い合わせ</li>
            </ul>
        </div>
    </div>
</div>