<div class="review-card">
    <div class="wrapper">
        <div class="heading">
            <div class="customer">
                <img src={{ asset('assets/img/item_user.svg') }}>
                <span class="name">名前さん</span>
            </div>
            <div class="rating">
                {{ include('Block/stars.twig') }}
            </div>
            <div class="review-date">
            <span>2020年4月26日</span>
        </div>
        </div>
        <div class="review-content">
        お客様が記入したレビューが入ります.お客様が記入したレピューが入ります。お客様が記入したレピューが入ります。お客様が記入したレ
ビュ-が入ります。お客様が記入したレビュ-が入ります。お客様が記人したレビュ-が入ります。お客様が記入したレビュ-が入りますのお客
様が記入したレビューが入ります。お客様が記入したレビューか入ります。お客様が記入したレビューが入りますお客様が記入したレビューが
入ります。お客様が記入したレビューが入ります。お客様が記入したレビューが入ります.お客様が記入したレピューが入リます。お客様が記入
したレビュ-が入ります。お客様が記入したレビューが入ります。お客様が記入したレビュ-が入ります。お客様が記入したレビュ-が入りま
す。お客様が記入したレビューが入りまするお客様が記入したレビューが入ります。お客様が記入したレビコーが入ります。お客様が記入したレ
ピューが入リます。お客様が記入したレビューが入ります。お客様が記入したレビューが入ります.お客様が記入したレビューが入ります。お客

        </div>
    </div>
</div>