<div class="header-search sp">
	<form method="get" class="search-bar" action="{{ path('product_list') }}">
		<div class="header-search__keyword">
			<div class="input">
				<input class="header-search__input" name="search" type="text" placeholder="キーワード検索">
				<button class="header-search__button" type="submit"></button>
			</div>
		</div>
	</form>
</div>