{% form_theme form 'Form/form_div_layout.twig' %}

<div class="header-main__search">
	<form
		method="get" class="searchform" action="{{ path('product_list') }}">
		<div class="header-main__search__keyword">
			<div class="input">
				{{ form_widget(form.name, {'id': null, 'attr': {'class': 'search-name', 'placeholder' : 'common.search_keyword' }}
				) }}
				<button class="header-main__search__keywordBtn js-submit" type="submit">
					<img class="icon" src="{{ asset('assets/icon/search-light.svg') }}">
				</button>
			</div>
		</div>
	</form>
</div>
